@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --span-paragraph: hsl(0, 36%, 70%);
    --error: hsl(0, 93%, 68%);
    --title: hsl(0, 6%, 24%);
    /**Gradient**/
    --main-background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --button: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    --font-size: 1rem;
}
*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--font-size);
    background: var(--main-background);
    min-height: 100vh;
}
header{
    padding: 2rem;
    display: flex;
    align-items: center;
}
header img{
    width: 6rem;
}
picture img{
    display: block;
    width: 100%;
}
main{
    padding: 4rem 1.5rem;
    text-align: center;
}
label{
    display: none;
}
h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--title);
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
}
h1 span{
    color: var(--span-paragraph);
    font-weight: 300;
}
.description{
    color: var(--span-paragraph);
    font-weight: 300;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}
form{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--span-paragraph);
    border-radius: 30px;
    overflow: hidden;
}
input{
    padding: .8rem 1.5rem;
    width: 60%;
    background: transparent;
    border: none;
    color: var(--span-paragraph);
}
input:focus{
    outline: none;
}
button{
    padding: .8rem;
    width: 22%;
    background: var(--button);
    border: none;
    border-radius: 25px;
    color: var(--title);
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 0px 15px 30px -10px rgba(0,0,0,0.2);
}
button:hover{
    background: hsl(0, 74%, 74%);
}
.error-message{
    color: var(--error);
    font-size: .8rem;
    font-weight: 600;
    margin: 1rem 1.5rem;
    text-align: left;
}
.error-message, .error-icon{
    display: none;
}
.success .error-icon{
    display: none;
}
.success .error-message{
    color: hsl(154, 59%, 51%);
    display: block;
}
.success form{
    border: 2px solid hsl(154, 59%, 51%);
}
.error form{
    border: 2px solid var(--error);
}
.error .error-message, .error .error-icon{
    display: block;
}

/*Media Queries*/

@media screen and (min-width: 700px){
    .content{
        margin: 0rem 10rem;
    }
    h1{
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px){
    body{
        background: url("./images/bg-pattern-desktop.svg") no-repeat;
        background-size: 60% 100%;
    }
    .container{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 35vh;
        grid-template-areas: "logo picture" "main picture";
    }
    header{
        height: fit-content;
        grid-area: logo;
        padding: 3rem 10rem;
    }
    picture{
        height: 100vh;
        grid-column: 2/3;
        grid-area: picture;
    }
    picture img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    main{
        height: fit-content;
        grid-column: 1/2;
        grid-area: main;
        margin-top: -4rem;
        padding: 0 8rem 0 0;
        text-align: left;
    }
    h1{
        font-size: 4rem;
        letter-spacing: 0.7rem;
    }
}
